<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecTalk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header"> 
        TecTalk
    </div>
    <div class="navbar">
        <div class="navbar-left">
            <a href="#">Home</a>
            <a href="categories" class="nav-bar__link">Categories</a>
            <a href="#">Latest</a>
            <a href="#">Trending</a>
        </div>
        {% if current_user.is_authenticated %}
        <div onclick="toggleDropdown()" class="user-info">
            <img src="/static/defalt_avatar.jpg" alt="Avatar">
            <span>{{ current_user.username }}</span>
            <div id="dropdownMenu" class="dropdown">
                <a href="{{ url_for('account_settings') }}">Account Settings</a>
                <a href="{{ url_for('logout') }}" id="logoutLink" onclick="confirmLogout(event)">Logout</a>
            </div>
        </div>
        {% else %}
        <a href="{{ url_for('login') }}" class="login-btn">Login</a>
        {% endif %}
    </div>

    <!-- Log out Box -->
    <div id="logoutBox" class="box">
        <div class="box-content">
            <p>Confirm log out?</p>
            <button class="btn btn-confirm" onclick="proceedLogout()">Yes</button>
            <button class="btn btn-cancel" onclick="cancelLogout()">No</button>
        </div>
    </div>
    <div id="chat-container">
        <div id="chat-header">
            <span>Chatbox</span>
        </div>
        <div id="chat-content">
            <ul id="messages"></ul>
        </div>
        <div id="chat-input">
            <input id="message" autocomplete="off" placeholder="Say Something..." />
            <button id="send">Send</button>
        </div>
    </div>
    <!--<div id="content-box">
        <h2>Your Content Title</h2>
        <p>Here you can put your content...</p>
    </div>-->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
